main {
    padding: 1rem;
}

body {
    font-family: sans-serif;
}

strong {
    color: #e00;
}

input, textarea {
    background-color: inherit;
}

.form-group {
    margin-bottom: 1rem;
}

.form {
    flex-wrap: wrap;
    padding: 0 !important;
    gap: 2rem;
    margin-top: 2rem;
}

label {
    font-size: 1.2rem;
    font-weight: 600;
}

input {
    border: 2px solid gray;
    border-radius: 5px;
    width: 20rem;
    outline: none;
    font-size: 1rem;
    padding: 0.7rem;
    margin-top: 0.5rem;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}

textarea {
    border: 2px solid gray;
    resize: none;
    padding: 0.7rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    outline: none;
    margin-top: 0.5rem;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-radius: 5px;
}

.d-none {
    display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.uploadButton, .addProduct, .replacementButton, .saveButton {
    font-size: 1.1rem;
    background-color: inherit;
    font-weight: bold;
    padding: 0.7rem 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    transition: all 0.3s;
}

.uploadButton {
    font-size: 1.2rem;
    padding: 0.7rem;
    width: 21.7rem;
}

.fileName {
    font-weight: bold;
    font-size: 1rem;
}

.fileSize {
    font-size: 0.9rem;
    padding-left: 1rem;
    font-weight: 600;
}

.saveButton {
    background-color: black;
    color: white;
    display: block;
    align-self: center;
}

.uploadButton:hover, .addProduct:hover, .replacementButton:hover {
    background-color: #eee;
}

.heading {
    text-decoration: underline;
}

.error-message {
    color: #e00;
    font-weight: 500;
    margin-top: 0.3rem;
}

#listings {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.product-listing {
    border: 2px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    width: 20rem;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.product-main {
    justify-content: space-between;
    display: flex;
    padding: 0;
    height: 3rem;
}

.product-img {
    width: 100%;
    height: 14rem;
    transition: scale 0.7s;
    scale: 1;
}

.product-img:hover {
    scale: 1.1;
}

.product-details {
    padding: 0.2rem 0.8rem;
}

.product-name {
    font-weight: 600;
    font-size: 1.1rem;
}

.product-price {
    font-weight: bold;
}

.product-details > p {
    margin: 0.5rem 0;
}

.delete-product {
    font-size: 1rem;
    text-decoration: underline;
}

.product-hash-id {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
}
